/*Color:
blue foncé - background: #36626a; 
blue marin - background: #588d9c; 
blue clair - background: #73b1c1; 
jaune - background: #f1d18a; 
background clair - background: #f0ece2; 
*/
/*---------------------------*/
/*CONNEXION*/
/*---------------------------*/
.index{
    padding: 20px 20px 0 20px;
    font-family: 'Roboto', sans-serif;
    background: url(../image/imgconnexionback.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /*Sign In Form*/
  .signin{
    position: relative;
    height: 620px;
    width: 470px;
    margin: auto;
    box-shadow: 0px 30px 125px -5px #000;
  }
  /*Background Img*/
  .backimg{
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url(../image/connexionwario.png);
    background-size: cover;
  }
  .active{
    padding-left: 25px;
    padding: 0.4em;
    color: #fff;
    background-color: #588d9c;
    border:solid 2px #36626a;
  }
  .signinTitre{
    top: 175px;
    position: absolute;
    z-index: 1;
  }
  .index h2 {
    padding-left: 15px;
    font-size: 25px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 300;
  }
  /*form-section*/
  .form-section{
    padding: 50px 90px 70px 90px;
  }
  .errorL{
    background-color: white;
    border: solid 2px;
    border-radius: 15px;
    font: bold;
    color:red;
    padding:0.8em;
    margin:1.2em;
  }
  .Clabel{
    padding: 5px;
    margin: 10px;
  }
  .Cform{
    margin:10px 0 35px 0;
  }
  .index input[type=text], .index input[type=password],.ajout input[type=text] {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   .signinBtn{
    background-color: green;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   .retour{
    background-color: crimson;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   .signinBtn:hover{
    background-color: #73b1c1;
    color: white;
    border: 1px solid #36626a;
   }
/*---------------------------*/
/*TOUS LE SITE*/
/*---------------------------*/
*, body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0ece2; 
    margin:0;
}
img{
    width:75px;
    background-color: white;
}
/*---------------------------*/
/*HEADER*/
/*---------------------------*/
header {
    display: grid;
    gap: 10px;
    width: 99%;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: content-box;
    padding: 0.6em;
    pointer-events: auto;
    background-color: #588d9c;
    border-bottom: solid 5px;
    border-color: #36626a;
    position:fixed;
  }
header div, header div form{
    margin:auto;
    background: #588d9c;
    padding:0.5em;
}
.logo{
    width:150px;
    border:solid 3px #36626a;
    border-radius: 0.8em;
}
#pseudo{
    background-color: #f0ece2;
    color:black;
}
.label{
    color:white;
    background-color: #588d9c;
    padding:0.5em;
}
#affichP{
    color: black;
    border:solid 2px #36626a;
    background-color: #f0ece2;
    padding:0.5em;
    margin: 0.6em;
}
/*---------------------------*/
/*BOUTON*/
/*---------------------------*/
.button{
    border:solid 2px #36626a;
    border-radius: 0.8em;
    padding:0.5em;
    color:white;
    background-color: #73b1c1;
    text-decoration: none;
    display: inline-block;
}
/*---------------------------*/
/*MAIN ET AFFICHER*/
/*---------------------------*/
main {
    padding-top: 10%;
    padding-bottom: 5%;
}
.titre{
    margin: auto;
    padding:0.3em;
    padding-left: 17%;
    padding-right: 15%;
    text-align: center;
}
.discussion{
    background-color: white;
    padding: 0.2em;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 7px 5px 5px gray;
}
#discussionMessage{
  background-color: white;
}
.divM{
    border:solid 2px #36626a;
    background-color: white;
    border-radius: 0.2em;
    padding:0.5em;
    margin:0.4em;
}
#Mtemps{
    background-color: white;
    font-style: italic;
    font-size: 10px;
    padding: 0.3em;
}
#Mcontenu{
    background-color: white;
    display: block;
    padding: 0.3em;
    font-size: 14px;
}
#Mauteur{
    background-color: white;
    padding: 0.3em;
    font-weight: bold;
}
#messageF{
    margin:0.4em;
    background-color: white;
    padding:0.4em;
}
#messageF input{
    display: block;
    width:80%;
    padding: auto;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}
#retour{
    padding:0.6em;
    background-color: white;
    margin: 0.5em;
    border:solid 2px;
    text-decoration: none;
}
/*---------------------------*/
/*SALON*/
/*---------------------------*/
.divC{
    border:solid 2px #36626a;
    background-color: white;
    border-radius: 0.2em;
    padding:0.5em;
    margin:2em;
}
#Cnom{
    background-color: white;
    display: inline-block;
    padding: 0.5em;
    font-size: 35px;
    font-weight: bold;
}
#lienC{
    right: 3%;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
}